/*
Colors used:
Primary color (Bright Green): #6CD6B0;
Secondary color (Darker Green): #56AC8D;
*/

/* General Stylings--colors,fonts/imgs */
body {
  background-color: white;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  margin-top: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

img, picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Link Styling */
a {
  color: #56AC8D;
  text-decoration: none;
}

a:visited {
  color: #56AC8D;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #6CD6B0;
  text-decoration: underline;
}

/* Header Styling (see override for smaller screens below)*/
header {
  background-color: white;
  margin: 0 auto;
  position: fixed;
  display: inline-block;
  text-align: right;
  width: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
}

/* .button-nav links only include the "work" "about" "resume" buttons (see override for smaller screens below) */
.navigation > li > ul {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 10px;
  text-align: left;
}

.navigation > li:hover > ul {
  display: block;
  width: 300px;
  font-size: .75em;
  background-color: white;
}

.button-nav,
.button-nav:visited {
  font-weight: 900;
  font-size: 1.5em;
  color: #56AC8D;
  border: none;
  text-transform: none;
}

.button-nav:hover,
.button-nav:focus,
.button-nav:active {
  color: #6CD6B0;
  text-decoration: none;
}

.button-content a:hover {
  display: block;
  font-weight: 900;
  font-size: 1.5em;
  color: #56AC8D;
  border: none;
  text-transform: none;
  text-decoration: none;
}

/* Hero Styling (see override for smaller screens below)*/
#hero {
  padding: 108px 0px 40px 0px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

#hero > .container > .row {
  padding-bottom: 0;
}

@keyframes balloon-enter {
  from {transform:translate(0px,0px);}
  to {transform:translate(0px,10px);}
}

#illustration {
  max-width: 500px;
  height: auto;
  float: right;
  padding: 0;
}

#girlballoon {
  animation: 2s balloon-enter infinite alternate ease-in-out;
}

/* Project Preview Styling (see override for smaller screens below) */
#henlo, #magicup, #aydore {
  text-align: left;
  width: 100%;
}

/* Row styling (see override for smaller screens below) */
.row {
  margin: 20px 0;
  padding-bottom: 20px;
  width: 100%;
  display: inline-block;
}

/* .button links only include the "View Project" buttons */
.button,
.button:visited {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  max-width: 320px;
  text-align: center;
  width: 40%;
  transition: 500ms;
}
.button:hover,
.button:focus,
.button:active {
  background-color: black;
  color: white;
  border: 2px solid black;
  text-decoration: none;
  max-width: 320px;
}

/* Float to Top Styling (project screens only) */
.sticky-parent {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

#sticky {
  display: block;
  position: fixed;
  bottom: 15px;
  background-color: #56AC8D;
  border: 2px solid #6CD6B0;
  border-radius: 10px;
  font-size: 25px;
  justify-content: center;
}

/* Footer Styling */
/* .button-footer links only include the LinkedIn, E-mail, Instagram buttons */
footer {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  position: relative;
  height: 150px;
}

.social {
  max-width: 210px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.button-footer,
.button-footer:visited,
.button-footer:hover,
.button-footer:focus,
.button-footer:active {
  border: none;
  max-width: 320px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  float: left;
}

#copyright {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

/* About Page Main Stylings */
#about {
  display: inline-block;
  text-align: left;
  float: left;
  width: 100%;
  margin: 0 auto;
}

#biocopy {
  padding-top: 20px;
}
/* Henlo Project Page Stylings */
.container > #henlo > .row {
  margin-top: 0px;
  border-bottom: 1px solid black;
}

.container > #henlo > .row picture {
  padding-bottom: 25px;
}

.container > #henlo > .row h1 {
  padding-top: 10px;
}

/* Column Styling (see overrides for medium and small screens below)*/
.col-lg-7 {
  width: 58%;
  padding-right: 10px;
}

.col-lg-5 {
  width: 40%;
  padding-left: 10px;
}

.row::after {
  clear: both;
  display: table;
}

[class*="col-"] {
  display: block;
  float: left;
}

/* Override: On screens that are 1024px wide or less */
@media screen and (max-width: 1024px) {
  .col-md-6 {
    width: 48%;
  }
}

/* Override: On screens that are 767px wide or less */
@media screen and (max-width: 767px) {
  header {
    text-align: center;
    background-color: black;
    width: 100%;
  }
  .button-nav,
  .button-nav:visited,
  .button-nav:active,
  .button-nav:focus {
    color: white;
  }
  .navigation > li:hover > ul {
    background-color: black;
    width: auto;
  }
  #hero {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 500px;
  }
  #hero h2 {
    font-size: 1em;
  }
  #hero picture {
    width: 100%;
    padding-left: 0;
  }
  #illustration {
    width: 100%;
  }
  .row {
    border-bottom: 1px solid black;
    margin-top: 0;
    padding-bottom: 20px;
  }
  #hero > .container > .row {
    border-bottom: 0;
  }
  #about > .container > #bio {
    width: 100%;
    padding-left: 0;
  }
  [class*="col-"] {
    width: 100%;
    padding: 0;
  }
}
