/*
Colors used:
Primary color (Bright Green): #6CD6B0;
Secondary color (Darker Green): #56AC8D;
*/
body {
  background-color: #FFFFFF;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}
h4 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
img {
  width: 100%;
}

a:visited {
  color: #56AC8D;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #6CD6B0;
  text-decoration: underline;
}

a:active {
  color: #56AC8D;
  text-decoration: none;
}
