/*
Colors used:
Primary color (Bright Green): #6CD6B0;
Secondary color (Darker Green): #56AC8D;
*/

/* General Stylings */
body {
  background-color: white;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
  /* Makes sure everything fills 100% of the parent element as recommended by stack overflow */
  height: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  margin-top: 0;
}

/* Page Titles */
h1 {
  font-size: 2.5em;
  font-weight: 900;
}

/* Section Titles */
h2 {
  font-size: 1.5em;
  font-weight: 400;
}

/* Hints and Footer */
h3 {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

/* So that images/pictures fill their parent container & have rounded corners*/
img, picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Link Styling. Default Dark Green. Can build upon on these for buttons */
a,
a:visited {
  color: #56AC8D;
  /* As recommended by CSS validation */
  background-color: white;
  /* To override the normalize default */
  text-decoration: none;
}

/* Links lighten to Light Green and get underlined with the following states */
a:hover,
a:focus,
a:active {
  color: #6CD6B0;
  /* As recommended by CSS validation */
  background-color: white;
}

/* Header Styling with a white background. (see override for smaller screens below)*/
header {
  background-color: white;
  /* 0 margin on top/bottom. auto tells browser to calculate and center to the width */
  margin: 0 auto;
  width: 100%;
  /* Fixed to top of screen. Don't need to specify the distance from top b/c it's the first element on HTML. */
  position: fixed;
  /* Positions text to right */
  text-align: right;
  /* Makes header top-most layer */
  z-index: 3;
}

/* Header Styling for project pages with a transparent background. (see override for smaller screens below)*/
.project-header {
  background-color: rgba(0, 0, 0, 0);
}

/* Container Styling.*/
.container {
  /* Ensures elements don't touch left/right edges of screen*/
  padding: 0 15px;
  /* White space once screen size gets larger than this size */
  max-width: 1200px;
  /* 0 margin on top/bottom. auto tells browser to calculate and center to the width */
  margin: 0 auto;
}

/* Header Nav Breaking bullet points from unordered lists */
.navigation {
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Header Nav Freeing list items */
.navigation > li {
  display: inline-block;
}

/* Header Nav Titles Links ("Project" "About" and "Resume") */
.navigation > li > a,
.navigation > li > a:visited {
  font-weight: 900;
  font-size: 1.5em;
  /* So that end of "resume" meets container edge */
  margin-left: 20px;
}

/* Header Nav Title Links Lighten Up in Color Upon Hover */
.navigation > li > a:hover,
.navigation > li > a:focus,
.navigation > li > a:active {
  color: #6CD6B0;
}

/* Project Links Dropdown Unordered List */
.dropdown-content {
  /* Hidden until user hovers */
  display: none;
  /* So that it aligns with ancestor (list item "projects") */
  position: absolute;
  /* To remove bullet points */
  list-style-type: none;
  /* So that it left aligns with projects */
  padding: 0 20px;
  text-align: left;
  /* So that it mimics header nav links but is slightly smaller (font size inherit: 1em) */
  font-weight: 900;
  /* Curved corners to keep a consistent style */
  border-radius: 10px;
  background-color: white;
}

/* Dropdown List is visible upon hover */
li:hover > .dropdown-content {
  display: block;
  width: 100%;
}

/* So that Dropdown Menu has enough spacing from "projects" nav menu item */
.dropdown-content > li:first-child {
  padding-top: 20px;
}

/* So that Dropdown Menu rounded corner shape looks even */
.dropdown-content > li:last-child {
  padding-bottom: 20px;
}

/* So that the rest of the page content is visible; starts, and lies beneath header */
main {
  z-index: 1;
  padding-top: 70px;
}

/* Hero Styling (see override for smaller screens below)*/
.hero {
  /* Breathing room from header and rest of content */
  padding: 70px 0px 70px 0px;
  text-align: left;
}

/* Row styling. Whenever you want 2+ columns of content side-by-side (see override for smaller screens below) */
.row {
  /* So that contents are free to be side by side */
  display: inline-block;
  /* So that contents fill container */
  width: 100%;
  padding-bottom: 10px;
}

/* Column Styling. Parent is .row (see overrides for medium and small screens below)*/
[class*="col-"] {
  display: block;
  float: left;
}

/* Wider column, About 60% */
.col-lg-7 {
  width: 59%;
  padding-right: 10px;
}

/* Narrower column, About 40% */
.col-lg-5 {
  width: 39%;
  padding-left: 10px;
}

/* Balloon Animation. Define the Vertical movement*/
@keyframes balloon-enter {
  from {transform:translate(0px,0px);}
  to {transform:translate(0px,10px);}
}

/* Define animation vertical float effect details */
#girlballoon {
  animation: 2s balloon-enter infinite alternate ease-in-out;
}

/* "Explore Projects Below..." hint text */
#hint {
  text-align: center;
  /* To match padding-bottom of hero */
  padding-bottom: 70px;
}

/* .button links only include the "View Project" buttons */
.button,
.button:visited {
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  /* space inside button border */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  /* Gentle transition from this state to next state (hover) */
  transition: 500ms;
}
.button:hover,
.button:focus,
.button:active {
  background-color: black;
  color: white;
  border: 2px solid black;
}

/* Style the links inside the sidenav */
.sidenav > a,
.sidenav > a:visited {
  position: absolute; /* Position them relative to the browser window */
  left: 0px; /* Position them outside of the screen */
  transition: 500ms; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
}

/* On hover, highlight the elements */
.sidenav > a:hover,
.sidenav > a:active {
  background-color: #56AC8D;
}

.project-section {
  padding-top: 40px;
}

/* Float to Top Button Container Styling */
.sticky-parent {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

/* Float to Top button Styling */
#sticky {
  display: block;
  position: fixed;
  /* Fixed at an equal distance from bottom & right side of screen viewport */
  bottom: 15px;
  background-color: #56AC8D;
  border: 2px solid #56AC8D;
  border-radius: 30px;
  font-size: 23px;
  padding: 5px;
  justify-content: center;
}

/* Float to Top Button gets a Slight scale up on hover */
#sticky:hover {
  transform: scale(1.1);
}

/* Footer Styling */
footer {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  position: relative;
  height: 150px;
}

.social {
  max-width: 210px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
/* .button-footer links only include the LinkedIn, E-mail, Instagram buttons */

.button-footer,
.button-footer:visited,
.button-footer:hover,
.button-footer:focus,
.button-footer:active {
  border: none;
  max-width: 320px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  float: left;
}

#copyright {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

#linkedin:hover, #email:hover, #instagram:hover {
  transform: scale(1.1);
}

/* About Page Main Stylings */
#about {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

#about > .container > .row {
  padding-bottom: 0;
  margin: 0;
}

.span {
  display: inline;
}


/* Henlo Project Page Stylings */
.container > .henlo > .row {
  margin-top: 0px;
  border-bottom: 1px solid #2E2D41;
  position: relative;
  padding-top: 15px;
}

/* .container > #henlo > .row picture {
  padding-bottom: 25px;
} */

.container > .henlo > .row h2 {
  padding-top: 15px;
}

.video {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 50%;
}

.prototype {
  width: auto;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Override: On screens that are 1024px wide or less */
@media screen and (max-width: 1024px) {
  .col-md-6 {
    width: 48%;
  }
  .prototype {
    display: none;
}

/* Override: On screens that are 767px wide or less */
@media screen and (max-width: 767px) {
  header {
    background-color: black;
    height: 70px;
    text-align: center;
  }
  header > .container {
    padding: 10px;
  }
  .navigation {
    margin: 0 auto;
  }
  .navigation > li {
    padding: 10px;
    display: inline-block;
  }
  .navigation > li > a,
  .navigation > li > a:visited {
    margin-left: 0px;
    font-size: 1.25em;
    background-color: black;
    color: white;
  }
  .button-nav,
  .button-nav:visited,
  .button-nav:active,
  .button-nav:focus {
    color: white;
    font-size: 1.25em;
  }
  .navigation > li:hover > ul {
    background-color: black;
    width: auto;
  }
  .dropdown-content > li > a,
  .dropdown-content > li > a:visited {
    background-color: black;
  }
  .hero {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 500px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    padding-top: 10px;
  }
  .hero h2 {
    font-size: 1em;
  }
  .hero picture {
    width: 100%;
    padding-left: 0;
  }
  #illustration {
    width: 100%;
  }
  #hint {
    padding-bottom: 40px;
  }
  .row {
    margin-top: 0;
    padding-bottom: 20px;
  }
  #youtube {
    padding-bottom: 15px;
  }
  [class*="col-"] {
    width: 100%;
    padding: 0;
  }
  #copyright {
    max-width: 205px;
    margin: 0 auto;
    font-size: .75em;
  }
  #sticky {
    font-size: 20px;
  }
  .jump {
    display: none;
  }
  .content {
    width: 100%;
  }
}
